span.css-10trblm.e16nr0p30 {
  background-color: yellow;
  text-align: center;
}
label.css-81oif8.effi0qh3 {
  /* background-color: red; */
  text-align: center;
  color: white;
  font-size: 60px;
}

div.block-container.css-12oz5g7.egzxvld2 {
  background-color: rgb(8, 8, 8);
  /* background-color: #fffdd0; */
}
section.main.css-k1vhr4.egzxvld3 {
  /* background-color: green; */
  background-color: gray;
  /* background-color: aqua; */
}
header.css-18ni7ap.e8zbici2 {
  background-color: #00ff11;
}
div.stApp.css-fg4pbf.eczokvf1 {
  background-image: url("stockimage.jpg");
}

div.appview-container.css-1wrcr25.egzxvld4 {
  background-image: url("stockimage.jpg");
}

div.css-183lzff.eyqtai90 {
  text-align: center;
  color: white;
}

div.block-container.css-12oz5g7.egzxvld2 {
  width: 100cm;
}
